@charset "utf-8";
*{
	margin:0 0;
	
	}
.box{
	
	width:640px;
	height:1200px;
	background:#0CF;
	}
.top{
	float:right;
	margin-right:50px;
	text-align:center;
	font-size:px;
	height:100px;
	line-height:100px;
	width:200px;
	background:rgba(0,0,0,0.7);
	}
